.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.appTitle {
  font-size: 48px;
  padding: 16px;
}

.appTimerContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.appTimer {
  font-size: 96px;
}

.timerButtonsContainer {
  display: flex;
  justify-content: center;
}

.timerControlButton {
  padding: 16px;
  background-color: #fe4300;
  color: white;
  cursor: pointer;
  margin: 8px;
  width: 56px;
  text-align: center;
  transition: opacity .2s;
}

.timerControlButton:hover {
  opacity: .8;
}