@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed');

.app {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  padding: 16px;
  flex: 0 0 50px;
  text-align: center;
  background-color: #eee;
}

.appTimerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: #eee;
}

.appTimer {
  font-size: 120px;
}

.timerButtonsContainer {
  display: flex;
  justify-content: center;
}

.timerControlButton {
  padding: 16px;
  background-color: #fe4300;
  color: white;
  cursor: pointer;
  margin: 8px;
  width: 56px;
  text-align: center;
  transition: opacity .2s;
}

.timerControlButton.blinking {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  50%  { opacity: 0.4;}
  100% { opacity: 1; }
}

.timerControlButton:hover {
  opacity: .8;
}